<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="holaMundoBean" class="com.aguacate.aguacate.model.HolaMundo" init-method="init" destroy-method="destroy">
       <property name="saludo" value="Juan Carlos"></property>
    </bean>

    <bean id="alumnoBeanTwo" class="com.aguacate.aguacate.model.Alumno" init-method="init" destroy-method="destroy">
       <property name="cedula" value="${cedula}"></property>
       <property name="nombre" value="${nombre}"></property>
       <property name="edad" value="${edad}"></property>
    </bean>

    <context:property-placeholder location="application.properties" />
    <context:component-scan base-package="com.aguacate.aguacate.model.*"/>

    <bean id="generadorPDFBeanTwo" class="com.aguacate.aguacate.model.GeneradorPDF"/>
    <bean id="contenedorBean" class="com.aguacate.aguacate.model.Contenedor">
      <constructor-arg ref="generadorPDFBeanTwo" />
    </bean>


    <bean id="alumnoBeanThree" class="com.aguacate.aguacate.model.Alumno" init-method="init" destroy-method="destroy">
       <constructor-arg value="1230"></constructor-arg>
       <constructor-arg value="Ignacio Sanchez"></constructor-arg>
       <constructor-arg value="22"></constructor-arg>
    </bean>

    <bean id="ciudadBean" class="com.aguacate.aguacate.model.Ciudad">
       <constructor-arg value="Copenhague"></constructor-arg>
    </bean>

    <bean id="paisBean" class="com.aguacate.aguacate.model.Pais">
       <property name="nombre" value="Dinamarca"></property>
       <property name="ciudad" ref="ciudadBean"></property>
    </bean>

    <bean id="individuoBean" class="com.aguacate.aguacate.model.Individuo">
       <constructor-arg index="0" value="1092"></constructor-arg>
       <constructor-arg index="1" value="Camilia Dourmong"></constructor-arg>
       <property name="pais" ref="paisBean"></property>
    </bean>



    <bean id="individuoBeanTwo" class="com.aguacate.aguacate.model.Individuo">
       <constructor-arg index="0" value="1245"></constructor-arg>
       <constructor-arg index="1" value="Thomas Mann"></constructor-arg>
       <property name="pais">
            <bean id="paisBeanTwo" class="com.aguacate.aguacate.model.Pais">
                <property name="nombre" value="Canada"></property>
                <property name="ciudad">
                  <bean id="ciudadBeanTwo" class="com.aguacate.aguacate.model.Ciudad">
                    <constructor-arg value="Montreal"></constructor-arg>
                  </bean>
                </property>
            </bean>
       </property>
    </bean>


    <bean id="mySiteBean" class="com.aguacate.aguacate.model.MySite" init-method="init" destroy-method="destroy"> 
       <constructor-arg index="0" value="${url}"></constructor-arg>
       <constructor-arg index="1" value="${site}"></constructor-arg>
   </bean>

   <bean id="empresaBean" class="com.aguacate.aguacate.model.Empresa" init-method="init" destroy-method="destroy"> 
        <property name="nombre" value="${empresa}"></property>
        <property name="mySite" ref="mySiteBean"></property>
   </bean>

   <context:annotation-config></context:annotation-config>

   <bean id="napolesBean" class="com.aguacate.aguacate.model.Napoles">
     <qualifier value="napolesQualifier"></qualifier>
   </bean>

   <bean id="jugadorBean" class="com.aguacate.aguacate.model.Jugador">
     <property name="numero" value="${equipo.numero}"></property>
     <property name="nombre" value="${equipo.nombre}"></property>
     <property name="equipo" ref="napolesBean"></property>
   </bean>


   <bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor">
   </bean>

   <bean id="imagenBean" class="com.aguacate.aguacate.model.Imagen">
    <constructor-arg index="0" value="${imagen.id}"></constructor-arg>
    <constructor-arg index="1" value="${imagen.nombre}"></constructor-arg>
    <property name="altura" value="${imagen.altura}"></property>
    <property name="anchura" value="${imagen.anchura}"></property>
   </bean>

   <bean id="myBeanPostProcessorBean" class="com.aguacate.aguacate.model.MyBeanPostProcessor">
   </bean>

   <bean id="myBeanX" class="com.aguacate.aguacate.model.X">
   </bean>

</beans>