<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="holaMundoBean" class="com.aguacate.aguacate.model.HolaMundo">
       <property name="saludo" value="Juan Carlos"></property>
    </bean>

    <bean id="alumnoBeanTwo" class="com.aguacate.aguacate.model.Alumno">
       <property name="cedula" value="${cedula}"></property>
       <property name="nombre" value="${nombre}"></property>
       <property name="edad" value="${edad}"></property>
    </bean>

    <context:property-placeholder location="application.properties" />
    <context:component-scan base-package="com.aguacate.aguacate.model.*"/>

    <bean id="generadorPDFBeanTwo" class="com.aguacate.aguacate.model.GeneradorPDF"/>
    <bean id="contenedorBean" class="com.aguacate.aguacate.model.Contenedor">
      <constructor-arg ref="generadorPDFBeanTwo" />
    </bean>


    <bean id="alumnoBeanThree" class="com.aguacate.aguacate.model.Alumno">
       <constructor-arg value="1230"></constructor-arg>
       <constructor-arg value="Ignacio Sanchez"></constructor-arg>
       <constructor-arg value="22"></constructor-arg>
    </bean>


</beans>